**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Thumbs.db
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/node_modules
**/.idea
**/docker-compose*.yml
**/Dockerfile*
**/*.md
**/tests
**/.github
